<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <h1>Todo Application</h1>

    <form action="/addtodo">
        <input type="text" name="task" id="task" placeholder="enter task"><br>
        <input type="text" name="description" id="description" placeholder="enter description"><br>

        <button id="addtaskButton" type="submit">Add Todo</button>
    </form>

    <h3>Todos List</h3>
    <ul class="tasklist">
        {{#each todos as |t|}}
        <li>{{t.name}} : {{t.description}}</li>
        {{/each}}
    </ul>


    {{!-- Here we assume that we are inside the public folder, when we are
    including a file from the public folder / --}}
    <script src="/script.js"></script> 

</body>

</html>